header{
    height: 94px;
    position: fixed;
    width: 100%;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 10px 10px #7f7f7f59;
    display: flex;
}

.logo {
    background: url('../../logo.png');
    height: 80px;
    width: 80px;
    background-size: 100px;
    background-position: -10px;
    margin: 6px 20px 0 100px;
    border-radius: 80px;
}

h1 {
    color: white;
}